body{
    color: rgb(53%, 36%, 83%);
    font-size: 30pt;
}

p{
    color: #70a0705c;
    font-size: 20pt;
}
div{
    background-color: rgb(25, 56, 52);
    padding: 20px;
    width: 250px;
}
/* Wikor Ejsmont 15-05-2023 */