body{
    font-size: 22px;
}
.kod{
    background-color: white;
    border: 2px black solid;
    padding: 10px;
    width: 80%;
    margin-bottom: 20px;
    margin-top: 5px;
    font-family: Arial;
}